/* Brendan O'Connor 4/28/25 */
body {
	background-color: black;
	color: red;
}

img {
	width: 100%;
	height: auto;
}

button {
	margin-left: 20px;
}

#wrapper {
	margin-right: auto;
	margin-left: auto;
	width: 70%;
	border: 1px solid red;
/*	padding-left: 5%;*/
}



#nightruder {
	font-size: 3em;
	padding-bottom: 0px;
}

#footerid {
	font-size: 0.5em;
	font-style: italic;
	color: white;
	padding-left: 5%;
}

.article {
	font-family: Georgia, sans-serif;
	font-size: 0.8em;
	color: darkcyan;
	letter-spacing: 3px;
	line-height: 1.5;
	padding-left: 5%;
}

.article p {
	text-indent: 3em;

}

.newstyle {
	text-align: center;
	font-family: "Times New Roman", serif;
	text-decoration: underline;
	text-shadow: 1px 1px 2px red;
}

.blue {
	background-color: blue;
}

.purple {
	background-color: purple;
}

.person {
	color: white;
	font-size: 1.5em;
	padding: 5px;
}
@media only screen and (max-width: 600px) {
	.article {
		font-size: 1.0em;
	}
	#nightruder {
		font-size: 2em;
	}
	img {
		width: 100%;
		height: auto;
	}
}